<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title><ui:insert name="title">Hot or not</ui:insert></title>
	<link href="#{request.contextPath}/css/simple.css" rel="stylesheet"
		type="text/css" />
</h:head>

<h:body>
	<div id="container">
		<div id="header">
			<ui:insert name="header">
				<h1>HOT OR NOT</h1>
				<p:commandLink action="#{loginBean.logOut}">Wyloguj</p:commandLink>
			</ui:insert>
		</div>

		<div id="content">
			<ui:insert name="content">
			</ui:insert>
		</div>

		<div id="footer">
			<ui:insert name="footer">
			</ui:insert>
		</div>
	</div>
</h:body>
</html>