<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/simple.xhtml">
	<ui:define name="content">
	#{voteBean.init()}
		Oceń zdjęcie, które jest bardziej hot!
		<h:form>
			<p:panel rendered="#{voteBean.existCompetitivePair}">
				<h:commandLink actionListener="#{voteBean.leftVote}">
					<p:graphicImage styleClass="compareImage"
						url="/images/#{voteBean.competitivePair.leftPicture}" />
					<h:outputText styleClass="box"
						value="#{voteBean.competitivePair.leftVote}" />
				</h:commandLink>

				<h:commandLink actionListener="#{voteBean.rightVote}">
					<p:graphicImage styleClass="compareImage"
						url="/images/#{voteBean.competitivePair.rightPicture}" />
					<h:outputText value="#{voteBean.competitivePair.rightVote}" />
				</h:commandLink>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
</html>
