<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/templates/simple.xhtml">

	<ui:define name="content">
		<h:form>
			<h:panelGrid columns="3">
				<h:outputText value="Login:"></h:outputText>
				<p:inputText id="login" value="#{loginBean.userName}" required="true"
					requiredMessage="Nieprawidłowy login">
				</p:inputText>
				<h:message for="login" styleClass="errorMessage" />

				<h:outputText value="Hasło:"></h:outputText>
				<p:password id="password" value="#{loginBean.password}"
					required="true"
					requiredMessage="Nieprawidłowe hasło">
				</p:password>
				<p:message for="password" styleClass="errorMessage" />
			</h:panelGrid>

			<p:commandButton value="Zaloguj"
				action="#{loginBean.login}" />
			<br />
			<br />
		</h:form>
	</ui:define>
</ui:composition>
</html>
