h1, p, body, html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #EEEEEE;
}

#container {
	width: 100%;
}

#header {
	background-color: #FFA500;
}

#header h1 {
	margin-bottom: 0px;
}

#content {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

#footer {
	clear: both; /*No floating elements are allowed on left or right*/
	background-color: #FFA500;
	text-align: center;
	font-weight: bold;
}

.compareImage {
	width: 400px;
	height: 600px;
	margin: 15px;
}

.errorMessage {
	color: red;
}